@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900');

:root {
  --color-background: #f3f2ec;  /* основной фон */
  --color-secondary: #dcdcdc;  /* второстепенный цвет */
  --color-text-primary: #262A28;  /* основной текст */
  --color-accent: #e62727;  /* акцентный цвет */
  --color-accent-secondary: #1e93ab;  /* фон блоков / панелей */
  --font-size: 20px;
}

[data-theme="dark"] {
  --color-background: #1a1a1a;
  --color-text-primary: #ffffff;
}

body {
  font-family: 'Fira Sans', sans-serif;
  background: var(--color-bg);
  color: var(--color-text-primary);
  transition: background 0.3s, color 0.3s;
  font-size: var(--font-size);
  font-weight: 400;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

b, strong {
  font-weight: bolder;
}

a {
  background-color: transparent;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.2;
  margin: 0;
}

textarea {
  overflow: auto;
}

img {
  border-style: none;
}

input, button {
  overflow: visible;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

code, samp, kbd {
  font-family: monospace, monospace;
  font-size: 1em;
}

[hidden] {
  display: none;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
